<h1> {{title}} </h1>

<h1>Lista de Tareas</h1>
<form>
  <input type="text" placeholder="Escribe una tarea..." #inputTarea> <!--Al input le damos un id #inputTarea.-->
  <button (click)="crearTarea(inputTarea.value, $event)"> ➕ </button>  <!--Al boton le damos un evento click. y creamos ese metodo en app.component.ts-->
</form>

<hr>

<ul *ngFor="let tarea of tareas">

  <li>
    <span> {{"ID: "}} {{tarea.id}} </span>
    <br>
    <br>
    <span> {{"Tarea:"}} {{tarea.texto}} </span>
    <button (click)="eliminarTarea(tarea.id)" >❌</button>
  </li>
</ul>